<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.myapp">

    <!-- Configuration Permission For Mediation Sdk-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <application
        android:name="app.com.HomeAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="app.com.Ui.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="app.com.Ui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="app.com.Ui.ScanDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="app.com.Ui.EditDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name="app.com.Ui.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="app.com.Ui.ReportActivity"
            android:configChanges="orientation|screenSize"></activity>

        <activity
            android:name="app.com.Ui.ScanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>